.body {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  min-height: 100vh;
  padding: 87px 1.5rem 1.5rem;
  transition: all 0.5s ease;
  background: #f4f7fa;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.header-wrapper {
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 1000;
  transition: all 0.5s ease;
}

.header-wrapper {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.header-wrapper.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.header-wrapper.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}